*{
    margin: 0%;
    padding: 0%;

}
/*Seccion 1*/
video {
    position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
.text1{
    position: absolute;
    top: 40%;
    right:50%;
    left: 10%; 
}
.text1 h1{
    font-size: 85px;
    font-family: 'Nunito Sans', sans-serif;    
    
    color:aliceblue;
  
}

.text1 h3{
    text-align: center;
    display:flex;
    justify-content: start;
    font-family: 'Nunito Sans', sans-serif;
    
    color:aliceblue;
  
}
/*Seccion 2*/
.perfil{
   height: 400px;
    width: 400px;
    position: relative;
    left: 900px;
    top: -200px;
}

.sect2{
    background-color: #181919;
    position: relative;
    top:710px;
    height: 685px;
}

.presentacion {
    text-align: start;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    color:aliceblue;
 margin-right: 60%;
 line-height: 36px;  
left: 150px;
    top:140px;

    
}
.presentacion h2{

    font-size: 35px;
}
.presentacion p{
    font-size: 20px;
}
/*Seccion 3*/
.sect3{
    position: relative;
    top: 800px;
}
.subtituloUno{
  text-align: center;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
  
}
.sect3 ul{
    display: flex;
   margin-top: 25px;
    height: 500px;
    justify-content: center;
    list-style: none;
}


.img1{
   
height: 550px;
width: 400px;



}


.sect3 li{
  width: 400px;
  margin-left:40px ;
  font-size: 18px;

}
/* SECCION 4 */
.sect4{
    background-color: #F6F6F6;
    position: relative;
    top: 1000px;
    height: 1600px;
}


.subtitulo2{
    text-align: center;
      font-size: 48px;
      font-family: 'Roboto', sans-serif;
  position: relative;
  top:90px;
    
  }
.mujer{
    
    display:flex;
    flex-wrap: wrap;
    margin-top: 200px;

     height: 500px;
     justify-content: center;
     list-style: none;
}
.mujer li{
    margin-right:20px ;
    margin-left:15px ;

}
.img2{
    
    height: 550px;
    width: 500px;

}
.img3{
    height: 550px;
    width: 1000px;
    margin-top: 100px;
    
}
/*SECCION 5*/
.sect5{
    position: relative;
    top: 1100px;
}
.subtituloUno{
  text-align: center;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
  
}
.sect5 ul{
    display: flex;
   margin-top: 25px;
    height: 500px;
    justify-content: center;
    list-style: none;
}


.img4{
   
height: 455px;
width: 355px;
}
.img5{
   
    height: 455px;
    width: 355px;    
  }
.img6{
   
    height: 455px;
    width: 355px;
    
  }

.sect5 li{
  width: 400px;
  margin-left:40px ;
  font-size: 18px;

}
/*Footer*/
.footer{
    background-color:#181919;
    height:800px;
    position: relative;
    top: 1200px;

}
.footer h2{
    justify-content: center;
    text-align: center;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
  line-height: 400px;
    color:#F6F6F6;

}

.footer h5{
    justify-content:center;
    text-align: center;
        font-size: 25px;
        color:antiquewhite;
        line-height: 45px;
       text-decoration: none;
       font-family: 'Roboto', sans-serif;
}
.footer .icons{
    position: relative;
    align-content: center;
    left: 45%;
    top: 100px;
    height: 48px;
    width: 48px;

}